rules_version = '2';

// Learn more about Storage rules at:
// https://firebase.google.com/docs/storage/security/start
service firebase.storage {
  match /b/{bucket}/o {
    // Allow read and write access to all files
    match /{allPaths=**} {
      allow read, write;
    }
  }
}
